<div class="container-fluid">
  <div class="row">
    <div class="top-image-bg">
      <div class="top-image">
        <p>トップページ</p>
      </div>
    </div>
  </div>
</div>

<div class="navi">
  ここはがぞう
</div>

<div class="function-wrapper">
  ここにアプリの紹介文
</div>

<div class="tsukkomi-example">
  ３つ並べる
</div>
