<h2>シチュエーション一覧</h2>
<%= notice %>
<p><%= link_to "シチュエーションを作成する", new_situation_path %></p>
<br>
<h4>シチュエーション</h4>
<% @situations.each do |situation| %>
  <p>  <%= link_to situation.title, situation_path(situation) %></p>
<% end %>
