<div class="top-wrapper">
  <p class="top-content text-center">新しくお題を投稿する</p>
</div>

<div class="container">
  <div class="row">
    <div class="new-situation col-10 offset-1 col-lg-8 offset-lg-2">
      <%= form_with(model: @situation, local: true) do |f| %>
        <% if @situation.errors.any? %>
          <div id="error_explanation">
            <% @situation.errors.full_messages.each do |msg| %>
              <p class="error-messages"><%= msg %></p>
            <% end %>
          </div>
        <% end %>
        <div class="new-situation-content text-left">
          <p>例えツッコミをしてもらいたいお題を投稿してみましょう。</p>
          <br>
          <p><i class="far fa-lightbulb hint">ヒント</i>「どのくらい」＋「〇〇」というのを意識してみると例えられやすいお題になるかも？！</p>
          <p>例えば・・・</p>
          <ul>
            <li>・めちゃくちゃ暑い</li>
            <li>・今までで一番おいしい</li>
            <li>・全然笑っていない</li>
            <li>・地味にテンション上がる</li>
          </ul>
          <p>などなど</p>
          <br>
          <!-- <p>
            例えば・・・<br>
            ・とてもおいしいものに対して<br>
            ・時間が経つのがとても長く感じる時の心境<br>
            ・性格がガラッと変わる人を見た時<br>
            ・普段はイヤな人だけどここぞという時は頼れる人に対して<br>
            などなど
          </p>
          <p class="hint">ヒント：感情的なものは例えられやすいです！<br>優しい、うれしい、おいしい、怖い、びっくりした、つらい、など</p> -->
        </div>
        <div class="row justify-content-center">
          <div class="submit-form col-11">
            <%= f.text_field :title, class: "form-control", placeholder: "お題を入力" %>
          </div>
        </div>
        <!-- 登録ボタンにcssをあてる -->
        <div class="submit-button text-center">
          <%= f.submit class: "btn btn-outline-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
