<%= form_with(model: [situation, tsukkomi, comment], url: situation_tsukkomi_comment_path(tsukkomi.situation_id, tsukkomi, comment), method: :patch) do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
