<%= form_with(model: [situation, tsukkomi, comment]) do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <div class="actions post-comment-button">
    <%= form.submit "コメントを投稿する", class: "btn btn-warning" %>
  </div>
<% end %>
