// Place all the styles related to the Situations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  // box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f8f9fa;
  font-family: 'Noto Sans JP', sans-serif;
}

.text-center{
  text-align: center;
}

// ここからheader

header {
  background-color: #ff8906;
  height: 78px
}

li {
  list-style: none;
}

.header a{
  color: #f8f9fa;
  text-decoration: none;
}

.header_logo a{
  float: left;
  font-size: 1.5rem;
  padding: 20px 30px;
  display: block;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header_right{
  float: right;
}

.header_right li{
  float: left;
  font-size: 1rem;
}

.header_right a{
  padding:27px 10px;
  display: block;
}

.header_right li:hover{
  background-color: #f9bc60;
  transition: 0.2s ;
}

.header_right ul{
  text-align: right;
}

.fa-hand-paper{
  transform: rotate(45deg);
}

.alert{
  margin-bottom: 0px;
}

// ここまでheader


// ここからmain

// トップ部分
.top-wrapper{
  // background-image: url("circle-blues.png");
  background-color: #09015f;
  height: 500px;
  background-size: cover;
  margin-bottom: 50px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
}

.top-content{
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  color: #f8f9fa;
  font-size: 2.5rem;
}

.top-wrapper-center{
  // background-image: url("circle-blues.png");
  background-color: #09015f;
  height: 200px;
  background-size: cover;
  margin-bottom: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
}

.top-content-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  color: #f8f9fa;
  font-size: 2rem;
}

.top-button{
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.top-button a:hover{
  background-color: #f9bc60;
  color: white;
  border: solid 1px #f9bc60;
}

.btn-warning{
  background-color: #ff8e3c;
  border-radius: 20px;
  border: solid 1px #ff8e3c;
  padding: 16px 32px;
  color: #f8f9fa;
}

.main-post{
  padding: 15px 25px;
  margin-bottom: 20px;
  border: solid 1px #e3dede;
  border-radius: 10px;
  // width: 60%;
  // margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 4px #a3a1a1;
}

.post-menu{
  float:right;
}

.dropdown-menu a{
  text-decoration: none;
  color: #333030;
}

.post-delete {
  color: red;
}

.post-delete  a{
  text-decoration: none;
  color: red;
}

.small-icon{
  padding-right: 10px;
  padding-left: 14px;
}

.fa-trash-alt{
  padding-right: 14px;
}

.post-icons{
  text-align: right;
}

.post-icons a{
  text-decoration: none;
  color: #333030;
}

.new-situation{
  padding: 0px 200px;
  margin-top: 50px;
}
.new-situation-content{
  margin-top: 20px;
}

.new-situation-content p{
  text-align: left;
}

.submit-form{
  margin-top: 40px;
  margin-bottom: 20px;
}

.submit-form input[type="text"] {
  width: 400px;
  height: 35px;
  padding: 20px 15px;
}

.submit-button{
  margin-bottom: 80px;
}

// シチュエーション新規投稿、投稿ボタンのhover時のcss
// .submit-button a:hover{
//   background-color: #f9bc60;
//   color: white;
//   border: solid 1px #f9bc60;
// }

.hint{
  color:#f25f4c;
}

// シチュエーション/showの戻るボタンここから
// .situation-list-button a:hover{
//   background-color: #e3dede;
//   color: white;
//   border: solid 1px #e3dede;
// }
//
// .btn-secondary{
//   background-color: #a3a1a1;
//   border-radius: 6px;
//   border: solid 1px #a3a1a1;
//   padding: 8px 16px;
//   color: #f0f5f9;
// }
// ここまで



.new-tsukkomi-button{
  padding-top: 40px;
  padding-bottom: 60px;
}

.new-tsukkomi-button a:hover{
  background-color: #f9bc60;
  color: white;
  border: solid 1px #f9bc60;
}

.search-wrapper{
  height: 50px;
  position: relative;
}

.situation-detail-content{
  float: left;
  padding-left: 30px;
  font-size: 2rem;
}

.search-form{
  float: right;
  padding-right: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.search-form a{
  text-decoration: none;
  color: #8b8687;
}

.search-form input[type="search"] {
  width: 240px;
  // height: 35px;
  padding: 0px 6px;
  border: solid 1px #8b8687;
}

.tsukkomi-detail-content{
  padding-top: 60px;
  font-size: 1.25rem;
}

.comment-wrapper{
  width: 70%;
  margin: 0 auto;
  // border: solid 0.75px #8b8687;
  padding-bottom: 80px;
  padding-top: 30px;
}

.comment-list{
  width:70%;
  margin: 0 auto;
}

.comment-new-form textarea {
  width: 70% ;
  height: 150px;
  padding: 10px;
  border: solid 1px #a79c8e;
  border-radius: 10px;
}

.comment-edit-form textarea {
  width: 70% ;
  height: 80px;
  padding: 10px;
  border: solid 1px #a79c8e;
  border-radius: 10px;
}

.comment-main-post{
  padding: 10px 25px;
  margin-bottom: 10px;
  border: solid 1px #a79c8e;
  border-radius: 10px;
}

.comment-content{
  text-align: center;
  padding: 8px 0px;
}

.very-small-icon-image{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  object-fit: cover;
}

.post-comment-button{
  padding-top: 20px;
  padding-bottom: 60px;
}

// .comment-button a:hover{
//   background-color: #f9bc60;
//   color: white;
//   border: solid 1px #f9bc60;
// }

.new-tsukkomi-content{
  margin-top: 60px;
}

.profile-wrapper{
  height: 280px;
  width: 70%;
  margin: 40px auto;
  padding: 50px;
  border: solid 1px #e3dede;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px #a3a1a1;
}

.big-icon-image {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  object-fit: cover;
}

.profile-image{
  float: left;
}

.profile-text{
  float: left;
  padding-left: 40px;
  color: #52616a;
}

.profile-username{
  font-size: 2rem;
}

.profile-message{
  float: left;
  // background-color: #f25042;
}

.profile-edit{
  float:right;
}

.changetab {
  text-align: center;
  margin: 0 auto;
}

.changetab a{
  color: #f8f9fa;
  text-decoration: none;
  display: block;
}

.changetab-mypage{
  border: solid 1px #e3dede;
  padding: 10px 0px;
  border-top-left-radius: 5px;
}

.changetab-favorite{
  border: solid 1px #e3dede;
  padding: 10px 0px;
  border-top-right-radius: 5px;
}

.selected-tab{
  background-color: #F6B352;
}

.not-selected-tab{
  background-color: #e3dede;
}

.not-selected-tab:hover{
  background-color: #a79c8e;
  opacity: 0.8;
  transition: 0.3s;
}

.edit-profile-image{
  background-color: white;
  text-align: center;
  padding-top: 50px;
}

.edit-profile-form{
  background-color: white;
  padding: 20px;
}

.field{
  padding: 15px;
}

.update-btn{
  padding: 10px 15px ;
}

.back-btn {
  padding-top: 20px;
}

.back-btn a{
  text-decoration: none;
  color: #52616a;
}

.signup-title{
  text-align: center;
  font-size: 2rem;
  background-color: white;
  padding: 20px;
  color: #52616a;
}

.signup-btn{
  text-align: center;
  margin-bottom: 20px;
}

.login-password{
  margin-bottom: 20px;
}

.login-btn{
  text-align: center;
  margin-bottom: 20px;
}

.guide-to-login-or-signup{
  padding: 30px;
}

.btn-outline-warning{
  border-radius: 10px;
  background-color: #ffc107;
  color: white;
}

.btn-outline-warning:hover{
  color: white;
  opacity: 0.7;
}

.pagination {
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

// ここまでmain



// ここからfooter

footer {
  width: 100%;
  height: 80px;
  // background-image: url("circle-blues.png");
  background-size: cover;
  background-color: #09015f;
  padding: 24px 30px;
  margin: auto;
  color: #f8f9fa;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
}


.footer_logo a{
  font-size: 1.25rem;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
  color: #f8f9fa;
  padding: 0px 30px;
}

// ここまでfooter

.logo-image{
  width:20px;
  height:20px;
}

.squint-tears{
  color: #f25042;
}

.fa-user{
  color: #a3a1a1;
}

.small-icon-image{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.error-messages{
  color: #E71D36;
  font-weight: bold;
}
