// Place all the styles related to the Situations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  // box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f8f9fa;
  font-family: 'Noto Sans JP', sans-serif;
}

.text-center{
  text-align: center;
}

// ここからheader

header {
  background-color: #ff8906;
  height: 78px
}

li {
  list-style: none;
}

.header a{
  color: #f8f9fa;
  text-decoration: none;
}

.header_logo a{
  float: left;
  font-size: 1.5rem;
  padding: 20px 30px;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header_right{
  float: right;
  display: block;
}

.header_right li{
  float: left;
  padding: 27px 10px;
  font-size: 1rem;
}


.header_right ul{
  text-align: right;
}

.fa-hand-paper{
  transform: rotate(45deg);
}

// ここまでheader


// ここからmain

.main{

}

.situation-post{
  padding: 15px 25px;
  margin: 10px;
  border: solid 1px #a79c8e;
  border-radius: 10px;
}

.post-menu{
  float:right;
}

.post-delete li{
  color: red;
}

.post-delete li a{
  text-decoration: none;
  color: red;
}

.fa-trash-alt{
  padding: 0px 10px;
}

.post-icons{
  text-align: right;
}

.pagination {
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

// ここまでmain


// ここからfooter

footer {
  width: 100%;
  height: 80px;
  // background-size: cover;
  background-color: #00214d;
  padding: 24px 30px;
  margin: auto;
  color: #f8f9fa;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
}


.footer_logo a{
  font-size: 1.25rem;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
  color: #f8f9fa;
  padding: 0px 30px;
}

// ここまでfooter

.logo-image{
  width:20px;
  height:20px;
}

.squint-tears{
  color: #f25042;
}

.fa-user{
  color: #a3a1a1;
}

.big-icon-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
}

.small-icon-image{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}
