.top-image-bg{
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("top-image.jpg");
  background-position: center;
  height: 700px;
  color: white;
}

.top-image{
  background-color: rgba(0,0,0,0.6);
  height: 700px;
  position: relative;
}

.top-image p{
  font-size: 1.75rem;
  letter-spacing: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.navi{
  min-height: 600px;
  padding: 150px 0px;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}

.navi-content{
  text-align: left;
  padding: 35px 20px;
}


.how-to-use{
  min-height: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FFFFFF;
}

.how-to-use-title{
  font-size: 2rem;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.step-content{
  padding: 40px 0px;
}

.step-message{
  font-size: 1.25rem;
  letter-spacing: 2px;
  min-height: 175px;
}

.step-message a{
  text-decoration: none;
}

.step-icon{
  height: 175px;
  width: 175px;
  float: left;
}

.function-wrapper{
  padding-top: 100px;
  padding-bottom: 40px;
  min-height: 400px;
  color: #52616a;
  background-color: #c9d6de;
}

.function-label{
  padding-bottom: 40px;
  font-size: 2rem;
  letter-spacing: 3px;
}

.top-icon{
  font-size: 8rem;
}

.function-contents{
  margin:50px 0px;
}

.function-content{
  padding: 0px 25px;
  padding-bottom: 70px;
}

.function-message{
  padding-top: 50px;
  text-align: left;
}

.tsukkomi-example{
  padding-top: 100px;
  margin-bottom: 100px;
}

.tsukkomi-example-title{
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 60px 0px;
}

.tsukkomi-example-post{
  margin-bottom: 50px;
}

.button-orange a{
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}

.button-orange a:hover{
  background-color: #ffda8e;
  color: white;
  border: solid 1px #ffda8e;
}

.button-orange input[type="submit"]{
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}

.button-orange input[type="submit"]:hover{
  background-color: #ffda8e;
  color: white;
  border: solid 1px #ffda8e;
}

@media screen and (max-width: 576px){
  .top-image-bg{
    padding-bottom: 15%;
    width: 100%;
    background-size: cover;
    background-image: image-url("top-image.jpg");
    background-position: center;
    height: 500px;
    color: white;
  }

  .top-image{
    background-color: rgba(0,0,0,0.6);
    height: 500px;
    position: relative;
  }

  .top-image p{
    font-size: 1.25rem;
    letter-spacing: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }

  .navi{
    min-height: 300px;
    padding: 50px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .navi-content{
    padding: 30px 40px;
    letter-spacing: 1.25px;
  }

  .how-to-use{
    min-height: 300px;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
  }

  .how-to-use-title{
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }

  .step-contents{
    padding: 0px;
  }

  .step-content{
    padding: 30px 0px;
  }

  .step-message{
    font-size: 0.9rem;
    letter-spacing: 1.25px;
    min-height: 175px;
  }

  .step-message a{
    text-decoration: none;
  }

  .step-message h4{
    font-size: 1.25rem;
    margin: 10px 0px;
  }

  .step-content-message{
    margin-top: 20px;
  }

  .step-icon{
    height: 150px;
    width: 150px;
    float: left;
  }

  .function-wrapper{
    padding-top: 80px;
    padding-bottom: 10px;
    min-height: 350px;
    color: #52616a;
    background-color: #c9d6de;
  }

  .function-label{
    padding-bottom: 20px;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .tsukkomi-example{
    padding-top: 20px;
    margin-bottom: 100px;
  }

  .tsukkomi-example-title{
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: 60px 0px;
  }

  .tsukkomi-example-post{
    margin-bottom: 50px;
  }
}
