.top-image-bg{
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("top-image.jpg");
  // background-attachment: fixed;
  background-position: center;
  height: 600px;
  color: white;
}

.top-image{
  background-color: rgba(0,0,0,0.6);
  height: 600px;
  position: relative;
}

.top-image p{
  font-size: 1.25rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.navi{
  min-height: 700px;
}

.function-wrapper{
  min-height: 400px;
  background-color: #c9d6de;
  // background-color: #252c41;
}
//
.top-icon{
  font-size: 8rem;
}

.function-contents{
  margin:50px 0px;
  color: #52616a;
  // color: #f8f9fa;
}

.function-content{
  padding: 70px 25px;
}

.function-message{
  padding-top: 50px;
  text-align: left;
}

.how-to-use{
  min-height: 400px;
  background-color: white;
}

.tsukkomi-example{
  padding-top: 100px;
  margin-bottom: 200px;
}

.tsukkomi-example-title{
  font-size: 1.25rem;
  padding: 60px 0px;
}
